@import '../../../node_modules/owl.carousel/src/scss/core';
@import '../../../node_modules/owl.carousel/src/scss/animate';
@import '../../../node_modules/owl.carousel/src/scss/autoheight';
@import '../../../node_modules/owl.carousel/src/scss/lazyload';
@import '../../../node_modules/owl.carousel/src/scss/video';

$color-base:			#869791 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

//nav

$nav-color: 			$color-white !default;
$nav-color-hover:		$color-white !default;
$nav-font-size: 		14px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		$color-gray !default;
$nav-background-hover:	$color-base !default;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

.owl-theme {
	max-width: 1500px;
	margin: 0 auto;
	position: relative;
	// Styling Next and Prev buttons
	.owl-nav {
		position: absolute;
		display: flex;
		justify-content: space-between;
		left: 0;
		top: 0;
		width: 100%;
		margin-top: 10px;
		color: white;
		-webkit-tap-highlight-color: transparent;

		
	.owl-prev span {
		font-size: 200px;
	}
	.owl-next span {
		font-size: 200px;
	}

	button.owl-prev:focus, button.owl-next:focus, button.owl-prev:active, button.owl-next:active{
		outline: none;
	}
		// [class*='owl-'] {
		// 	color: $nav-color;
		// 	font-size: $nav-font-size;
		// 	margin: $nav-margin;
		// 	padding: $nav-padding;
		// 	background: $nav-background;
		// 	display: inline-block;
		// 	cursor: pointer;
		// 	border-radius: 3px;

		// 	&:hover {
		// 		background: $nav-background-hover;
		// 		color:$nav-color-hover;
		// 		text-decoration: none;
		// 	}
		// }
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $dot-rounded;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
}